.services {
    background: #F7F7F7;
    padding: 80px 0 80px 0;
}
.services_title {
    font-family: 'Nunito Sans';
    font-weight: 800;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
}
.line-level {
    border-bottom: 3px solid #4F8FF0;
    max-width: 50px;
    margin: 0 auto;
    padding-top: 10px;  
}
.services_text {
    max-width: 810px;
    margin: 0 auto;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    text-align: center;
    padding-top: 24px;
}
.services_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);	
    gap: 24px;
    padding-top: 48px;
}
.services_cards_crd-link {
    text-decoration: none;
    color: #222222;
}
.services_cards_crd {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 32px 20px 20px;
   /* transition: transform 0.1s;*/
} 
.services_cards_crd:hover,
.services_cards_crd:active,
.services_cards_crd:focus {
    background-color: #4F8FF0;
    color: #FFF;
    /* border: mixed solid #4F8FF0;
    transform: scale(1.1);*/  
}
.corner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.corner-top {
    display: flex;
 }
 .corner-top-left {
     width: 35px;
     height: 35px;
     border-top: 1px solid #FFF;
     border-left: 1px solid #FFF;
     margin-right: 295px;
 }
 .corner-top-right {
     width: 35px;
     height: 35px;
     border-top: 1px solid #FFF;
     border-right: 1px solid #FFF;
 }
 .corner-bottom {
    display: flex;
 }
 .corner-bottom-left {
     width: 35px;
     height: 35px;
     border-bottom: 1px solid #FFF;
     border-left: 1px solid #FFF;
     margin-right: 295px;
 }
 .corner-bottom-right {
     width: 35px;
     height: 35px;
     border-bottom: 1px solid #FFF;
     border-right: 1px solid #FFF;
 }
 .general {
    margin-top: -5px;
 }
.quadrate {
    width: 23.18px;
    height: 23.18px;
    border: 3px solid #4F8FF0;
    border-radius: 4px;
    margin-left: 5.5px;
    margin-bottom: -24.5px;
}
.arrow {
    width: 26.17px;
    height: 26.17px;
    margin-top: 4px;
    border-bottom: 3px solid #4f8ff0;
    border-left: 3px solid #4f8ff0;
}
.arrow-bottom {
    width: 16px;
    height: 8px;
    transform: rotate(-45deg);
    margin-top: -22px;
    margin-left: 10px;
}
.services_cards_crd-title {
    font-family: 'Nunito Sans';
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    padding-top: 15px;
    margin-top: 25px;
}
.services_cards_crd-text {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    text-align: center;
    padding-top: 10px;
}
.services_button {
    padding-top: 48px;
}
.services_button_btn {
    display: block;
    margin: 0 auto;
    padding: 16px 24px;
    font-family: 'Nunito Sans';
    font-weight: 900;
    font-size: 14px; 
    line-height: 16.8px;
}
.services_button_btn:hover {
    border: 2px #4F8FF0;
    background: #4F8FF0;
    transition: 0.25s;
    color: #FFF;
}
.quadrate:focus {
    border: 3px solid #FFF;
}
.arrow-bottom:focus {
    border: 3px solid #FFF;
}
.arrow:focus {
    border-bottom: 3px solid #FFF;
    border-left: 3px solid #FFF;
}
/*объясни, пжлста, почему ховер,актив и фокус не срабатывают на эти
 3 последних тэга? я и color и background пробовала вместо border*/



@media (max-width: 834px) {
    .wrap {
       max-width: 726px;
        padding: 0 15px;
    }
    .services {
        padding: 60px 0 60px 0;
    }
    .services_cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
    .corner {
        display: none;
    }
    .services_title {
        font-size: 24px;
        line-height: 36px;
    }
    .services_text {
        font-size: 16px;
        line-height: 19.2px;
    }
    .general {
        margin-top: 0;
     }
    .br {
        display: none;
    }
    .services_button {
        padding-top: 36px;
    }
}

@media (max-width: 390px) {
    .wrap {
        max-width: 372px;
        padding: 0 15px;
    }
    .services {
        padding: 40px 0 40px 0;
    }
    .services__title {
        font-size: 20px;
        line-height: 24px;
    }
    .services__text {
        padding-top: 16px;
        font-size: 14px;
        line-height: 16.8px;
    }
    .services__cards {
        display: flex;
        gap: 24px;
        max-width: calc(100% - 56px);
       /* overflow: auto;*/
    }
    .services__cards_crd {
       /* position: relative;
        max-width: calc(50% - 12px);*/
        flex: 1 0 100%;
    }
   /* .services__cards-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; // Определяем количество строк перед достижением многоточия
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    }перерисовала из инета, но не применилось, 
    где же ошибка? или не поддерживается браузером*/  
}